/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Sep 13, 2016, 2:59:17 PM
    Author     : yilianz
*/

/** Color  **/

html {
    background: linear-gradient(180deg, rgb(2, 2, 2), #fff 50%);
    padding: 0 1.5% 0 1.5%;
}

body {
    background-color: white;
    color: black;
    margin: auto auto;
    padding: 5%;
    position: relative;
}

h1 {
    background-color: hsla(225, 70%, 40%, 0.5);
    padding: 3px 3px 3px 10px;
    text-align: left;
    margin: 0 0 0 -4%;
    width: 104%;
    font-size: 1.2em;
    border-bottom: 6px solid white;
    border-image: repeating-linear-gradient(45deg, hsla(225, 70%, 40%, 0.5), hsla(225, 70%, 90%, 0.9) 40px) 20;
}

span {
    font-size: 150%;
    color: gray;
}

p {
    line-height: 1.5em;
    border-left: 3px inset hsla(225, 70%, 40%, 0.7);
    padding-left: 2%;
}

table {
    border: 1px solid cadetblue;
}

td, th {
    padding: 5px;
    border-bottom: 1px solid cadetblue;
}

.practice {
    margin: 10px;
    width: 400px;
    padding: 0 2% 5px 1px;
    background-color: #ececec;
    border-bottom-right-radius: 5px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

textarea {
    align-content: left;
    text-align: left;
}

.img-container {
    position: fixed;
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    padding: 0 auto;
    display: block;
    opacity: 1;
}

.img-container-hide {
    position: fixed;
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    padding: 0 auto;
    display: none;
    opacity: 0;
}

.img-container-hide img {
    width: 100%;
}

.img-container img {
    width: 100%;
}

div {
    transition: opacity ease-in-out 3s, left ease-in-out 3s;
}