@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&display=swap');

html {

    background: linear-gradient(180deg, rgba(212, 204, 231,0.9) 70%, #fff 95% );
    padding: 0% 2% 0% 0%;
}

body {
    background-color: #EFEAF6;
    color: black;
    margin: auto auto;
    padding: 0%;
    position: relative;
    font-family: 'Inter Tight', sans-serif;
}

.panelLeft {
    position: absolute;
    display: block;
    width: 21%;
    top: 0%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    left: 0px;
    height: 95vh;
    background-color: #D4CCE7;
    z-index: 1;
}
.panelLeft h1{
    text-align: center;
    vertical-align: center;
    font-size: 1em;
    border-bottom: 3px outset hsla(258, 36%, 25%,0.2);
    /*box-shadow : 0 2px 2px rgba(0,0,0,.2); */
    background-color: #D4CCE7;
    padding-bottom: 2%;

}
div.extra1{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    height: 2vw;
    background: linear-gradient(to left, rgba(212, 204, 231,0.9) 70%, #fff 95% );
    z-index: 2;
}
div.extra2{
    position: fixed;
    bottom:20vh;
    left:20%;
    right: 0;
    height: 2vw;
    background-color: #D4CCE7;
}

div.extra3{
    position: fixed;
    top:0;
    left:24%;
    bottom: 0;
    width: 2vw;
    background-color: #D4CCE7;
}
div.extra4{
    position: fixed;
    top:0;
    left:20%;
    width: 5%;
    height: 2vw;
    background-color: #D4CCE7;
}

span {
    font-size: 150%;
    color: gray;
}

p {
    line-height: 1.5em;
    padding-left: 5%;
}

table {
    border: 1px solid cadetblue;
}

td, th {
    padding: 5px;
    border-bottom: 1px solid rgb(81, 73, 76);
}

div.practice {
    position: absolute;
    top: 100px;
    left: 30%;
    right: 10%;
    margin: auto auto;
    background-color: #fef8f8;
	box-shadow : 0 6px 20px rgba(2, 3, 4, 0.2); 
    padding:10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

textarea {
    align-content: left;
    text-align: left;
}

.img-container {
    position: fixed;
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    padding: 0 auto;
    display: block;
    opacity: 1;
}

.img-container-hide {
    position: fixed;
    width: 70%;
    top: 10%;
    left: 15%;
    margin: 0 auto;
    padding: 0 auto;
    display: none;
    opacity: 0;
}

.img-container-hide img {
    width: 100%;
}

.img-container img {
    width: 100%;
}


/* Code from css example on animation */
